<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <form action="/list" method="GET">
        <table class="table table-bordered table-hover table-sm">
            <tr style="color: cornflowerblue">
                <td>ID</td>
                <td>NAME</td>
                <td>PRICE</td>
                <td>QUANTITY</td>
                <td>IMAGE</td>
            </tr>
            <tr th:each="product : ${listProduct}">
                <td th:text="${product.getId()}"></td>
                <td th:text="${product.getName()}"></td>
                <td th:text="${product.getPrice()}"></td>
                <td th:text="${product.getQuantity()}"></td>
                <td><img th:src="${product.getImg()}"></td>
            </tr>
        </table>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcellphones.com.vn%2Fsforum%2Fbo-bon-iphone-12-lo-thong-so-cau-hinh-va-gia-ban-re-bat-ngo&psig=AOvVaw2m0dakDU2tdHVSO6onkGfV&ust=1610009398613000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPCOlMT2hu4CFQAAAAAdAAAAABAD">
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>